# General
PORT=your_app_port

# Database
DATABASE_URL=your_database_url
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_DB=your_database

# AWS Cognito
AWS_REGION=aws-region
AWS_COGNITO_USER_POOL_ID=aws-user-pool-id
AWS_COGNITO_CLIENT_ID=aws-client-id

# AWS S3
AWS_S3_REGION=aws-region
AWS_S3_BUCKET=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# AWS SES
AWS_SES_REGION=aws-region
AWS_SES_FROM_EMAIL=your-from-email

AWS_REGION=us-east-1
AWS_COGNITO_USER_POOL_ID=us-east-1_xxxxx
AWS_COGNITO_CLIENT_ID=xxxxx
AWS_S3_REGION=us-east-1
AWS_S3_BUCKET=tu-bucket
AWS_ACCESS_KEY_ID=xxxxx
AWS_SECRET_ACCESS_KEY=xxxxx
AWS_SES_REGION=us-east-1
AWS_SES_FROM_EMAIL=noreply@tudominio.com

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

