# General
PORT=your_app_port

# Database
DATABASE_URL=your_database_url
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_DB=your_database

# AWS Cognito
AWS_REGION=aws-region
AWS_COGNITO_USER_POOL_ID=aws-user-pool-id
AWS_COGNITO_CLIENT_ID=aws-client-id

# AWS S3
AWS_S3_REGION=aws-region
AWS_S3_BUCKET=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key